@use 'modules/footermod.scss';

* {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #172815;
}

.navbar {
  display: flex;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
}

.title {
  width: 60%;

  &__text {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    color: #e56399;
    padding: 0px;
    margin: 0px;
  }

  &__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #cfffb3;
    padding: 0px;
    margin: 0px;
  }
}

.homebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;

  border: 1px solid #d4dccd;
  border-radius: 15px;

  &__pitch {
    color: #d4dccd;

    padding: 0px;
  }

  &__contact {
    color: #d4dccd;
    padding: 0px;
  }
}
