* {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #172815;
}

.navbar {
  display: flex;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
}

.title {
  width: 60%;

  &__text {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #e56399;
  }

  &__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #cfffb3;
  }
}
// footer can have it's own module when i am ready
.footer {
  display: flex;
  border-top: 1px solid #d4dccd;
  padding-top: 15px;

  &__flags {
    display: flex;
    flex-direction: row;
  }
  //   I can repeat the styling for all the flags... but how?!
  &__flag-pride {
    height: 50px;
    width: 80px;
    padding: 5px;
  }

  &__flag-torres {
    height: 50px;
    width: 80px;
    padding: 5px;
  }

  &__flag-abor {
    height: 50px;
    width: 80px;
    padding: 5px;
  }

  &__text {
    display: flex;
    padding: 10px;
    align-items: center;
    border-left: 1px solid #d4dccd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #d4dccd;
  }
}

.homebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
  border: 1px solid #d4dccd;
  width: 500px;

  &__pitch {
    color: #d4dccd;
    padding: 0px;
  }

  &__contact {
    color: #d4dccd;
    padding: 0px;
  }
}
