@use 'modules/footermod.scss';
@use 'modules/header__nav.scss';

* {
  background-color: #172815;
}

body {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  display: flex;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . navbar";
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;

  &__navbar {
    display: flex;
    justify-content: space-around;
    grid-area: navbar;
  }
}

.title {
  width: 60%;

  &__text {
    font-family: "Times New Roman", Times, serif;
    font-size: 200px;
    color: #e56399;
    padding: 0px;
    margin: 0px;
  }

  &__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #cfffb3;
    padding: 0px;
    margin: 0px;
  }
}

.homebox {
  display: flex;
  width: 300px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
  border: 1px solid #d4dccd;

  &__pitch {
    color: #d4dccd;

    padding: 0px;
  }

  &__contact {
    color: #d4dccd;
    padding: 0px;
  }
}

.project {
  display: flex;
  border: 1px solid #d4dccd;
  justify-content: space-around;

  &__image {
    padding: 5px;
  }

  &__details {
    color: #d4dccd;
  }
}
