.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
  border-top: 1px solid #d4dccd;
  padding-top: 15px;
}
.footer__flags {
  display: flex;
  flex-direction: row;
}
.footer__flag-pride {
  height: 50px;
  width: 80px;
  padding: 5px;
}
.footer__flag-torres {
  height: 50px;
  width: 80px;
  padding: 5px;
}
.footer__flag-abor {
  height: 50px;
  width: 80px;
  padding: 5px;
}
.footer__text {
  display: flex;
  padding: 10px;
  align-items: center;
  border-left: 1px solid #d4dccd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: #d4dccd;
}

.navbar {
  display: flex;
  justify-content: right;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
}

* {
  background-color: #172815;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  width: 60%;
}
.title__text {
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
  color: #e56399;
  padding: 0px;
  margin: 0px;
}
.title__subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #cfffb3;
  padding: 0px;
  margin: 0px;
}

.homebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfffb3;
  border: 1px solid #d4dccd;
  border-radius: 15px;
}
.homebox__pitch {
  color: #d4dccd;
  padding: 0px;
}
.homebox__contact {
  color: #d4dccd;
  padding: 0px;
}

.project {
  display: flex;
  border: 1px solid #d4dccd;
  justify-content: space-around;
}
.project__image {
  padding: 5px;
}
.project__details {
  color: #d4dccd;
}
